html {
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $font-family;
  line-height: $line-height;
  max-width: $site-width;
  min-height: 100%;
  padding: $body-padding;
  margin: auto;
  overflow-y: scroll;
}

body {
  min-height: 100%;
}
