html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: var(--bg-color);
}

body {
  min-height: 100vh;
  padding: var(--body-padding);
  margin: auto;
  color: var(--color);
  font-family: var(--font);
  line-height: var(--line-height);
  max-width: var(--page-width);
  overflow-y: scroll;
}
