h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: var(--space) 0;
}

h2 {
  font-size: var(--h2-size);
  padding: 0.25rem 0;
  border-bottom: 0.125rem solid var(--heading-border-color);
}

h3 {
  font-size: var(--h3-size);
  font-style: italic;
}
