a {
  display: inline;
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 0.0625em solid currentColor;
  border-radius: 0.125rem;
  padding: 0.125rem;
  box-decoration-break: clone;

  &:hover,
  &:focus {
    color: var(--bg-color);
    border-bottom-color: var(--link-color);
    background: var(--link-color);
  }
}
