<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#70a9ff" />

    {{- block "meta" . }}{{ end }}
    <title>
      {{- block "title" . }}
        {{- if .IsHome }}
          {{- .Site.Title -}}
        {{ end }}
        {{- if not .IsHome }}
          {{- .Title }} - {{ .Site.Title -}}
        {{ end -}}
      {{ end -}}
    </title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/images/icon-192.png">

    {{- with resources.Get "js/head-inline.js" | minify }}
    <script>
      {{ .Content | safeJS }}
    </script>
    {{ end -}}

    {{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
    <script defer src="{{ $script.Permalink }}"></script>

    {{ $style := resources.Get "css/styles.scss" | toCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    {{- block "canonical" . }}
      <link rel="canonical" href="{{ .Permalink }}">
    {{ end -}}

    {{ block "head" . }}{{ end }}
  </head>
  <body>
    {{- block "header" . }}
      <header class="SiteHeader hidden@print">
      {{- block "header-inside" . }}{{ end -}}
      {{ partialCached "dark-mode-toggle" . }}
      </header>
    {{ end -}}
    <main>{{- block "main" . }}{{ end -}}</main>
  </body>
</html>
