:root,
html.light {
  --bg-color: #fff;
  --color: #181b1f;
  --link-color: #2a78ed;
  --search-bg: #fff;
  --search-color: #181b1f;
  --heading-border-color: #0000001a;
  --checkbox-bg: #333;
  --checkbox-focused: #70a9ff;
}

@media screen {
  html.dark {
    --bg-color: #181b1f;
    --color: #eee;
    --link-color: #70a9ff;
    --search-bg: #282c33;
    --search-color: #eee;
    --heading-border-color: #ffffff1a;
    --checkbox-bg: #70a9ff;
  }
}
