html {
  // Font
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --line-height: 1.4;
  --h2-size: 1.4rem;
  --h3-size: 1.1rem;
  // Sizing
  --space: 1.25rem;
  --li-margin: #{1.25 * 0.15}rem;
  --p-margin: #{1.25 * 0.5}rem;
  --page-width: 62.5rem;
  --body-padding: 2rem 1rem 3rem 1rem;
  --header-height: 1.875rem;
  // Color
  --bg-color: #fff;
  --color: #181b1f;
  --link-color: #1054bb;
  --search-bg: #fff;
  --search-color: #181b1f;
  --heading-border-color: #0000001a;
  --checkbox-bg: #333;
  --checkbox-focused: #70a9ff;
}

@media screen {
  .dark {
    --bg-color: #181b1f;
    --color: #eee;
    --link-color: #70a9ff;
    --search-bg: #282c33;
    --search-color: #eee;
    --heading-border-color: #ffffff1a;
    --checkbox-bg: #70a9ff;
  }
}

@media print {
  html {
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --space: 0.5rem;
    --li-margin: 0;
  }
}
