<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{- block "title" . }}
    {{- if .IsHome }}
      {{- .Site.Title -}}
    {{ end }}
    {{- if not .IsHome }}
      {{- .Title }} - {{ .Site.Title -}}
    {{ end -}}
  {{ end -}}
</title>
<script>
  document.documentElement.classList.remove("no-js");
</script>
{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
<script defer src="{{ $script.Permalink }}"></script>
{{ $style := resources.Get "css/styles.scss" | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}">
