{{ define "header" }}
<!---->
{{ end }}

{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<div class="IndexGrid">
  <section id="recipes-search" class="IndexGrid-search hidden@no-js hidden@print">
    <label for="recipes-search-field" class="visuallyHidden">Recipe Search</label>
    <input
      placeholder="Search for a recipe"
      class="Search"
      id="recipes-search-field"
      name="recipes-search-field"
      type="search"
    />
  </section>

  {{- if gt (len .Site.Taxonomies.tags.ByCount) 0 }}
  <section id="tag-cloud" class="IndexGrid-tags hidden@no-js hidden@print">
    <h2 class="TagCloud-title">Tags</h2>
    <ul class="TagCloud">
      {{- range $order, $taxonomy := .Site.Taxonomies.tags.ByCount }}
        {{- $tag := $taxonomy.Name }}
        <li class="TagCloud-tag"><button class="Tag" data-tag="{{ $tag }}">{{ $tag }}</button></li>
      {{- end }}
    </ul>
  </section>
  {{- end }}

  <section id="recipes-list" class="IndexGrid-recipes">
    <ul class="Recipes">
      {{- range where .Site.RegularPages "Type" "recipes" }}
        {{- if (reflect.IsSlice .Params.tags) }}
        <li class="Recipes-item"  data-tags='{{ .Params.tags | default (slice) | jsonify }}'>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{- else }}
          {{ errorf "Invalid format for tags in recipe %q. Tags must be in a list." .Title }}
        {{- end }}
      {{- end }}
    </ul>
  </section>
</div>
{{ end }}
