{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<section id="recipes-search">
  <label for="recipes-search-field" class="visuallyHidden">Recipe Search</label>
  <input
    placeholder="Search for a recipe"
    class="Search hidden@no-js hidden@print"
    id="recipes-search-field"
    name="recipes-search-field"
    type="search"
  />
</section>
<section id="recipes-list">
  <ul class="Recipes">
    {{- range where .Site.RegularPages "Type" "recipes" }}
    <li class="Recipes-item">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{- end }}
  </ul>
</section>
{{ end }}
